.git
.github
*.zip
*.log
*.sha256
.env
data
backend/zentssh
frontend/node_modules
frontend/dist
.DS_Store
*.zsb
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
master.key
*.pem
*.key
*.p12
*.pfx
.github-release
deploy.sh
id_rsa
id_ed25519
id_ecdsa
